<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kontrahenci</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <br/>
    <br/>
    <div class="container">

        @if (User.Identity.IsAuthenticated)
        {
        <div class="center-block" style="display:grid">
            <a asp-controller="Customer" asp-action="Create" class="navbar-brand btn btn-warning">Dodaj Klienta</a>
            <br/>
            <a asp-controller="Customer" asp-action="Index" class="navbar-brand btn btn-warning">Wyświetl liste klientów</a>
        </div>
        }
        else
        {
            <div class="center-block" style="display:grid">
                <a asp-controller="Account" asp-action="Login" class="navbar-brand btn btn-warning">Zaloguj</a>
                <div class="text-center">
                    <br/>
                    <h4>Jesteś pierwszy raz? Załóż konto!</h4>
                </div>
                <a asp-controller="Admin" asp-action="Create" class="navbar-brand btn btn-warning">Załóż konto</a>
            </div>
           
        }
    </div>
    
    

</body>
</html>